<aside class="blog-sidebar">

    <section class="blog-subscribe widget">
        <h3>Join Thousands</h3>
        <p>of subscribers who get fresh content from us once per week.</p>
        <a class="button-add large wide" data-toggle="modal" data-target="#blogsubscribe">Subscribe Now</a> 
    </section>

    <section class="popular-posts widget">
        <h3>Our <mark>Top Posts</mark> Right Now</h3>
        <ol>
            <li><a href="http://blog.ghost.org/writing-tools/"><span class="number" aria-hidden="true">1</span>13 Writing Tools To Enhance The Quality of Your Blog</a></li>
            <li><a href="http://blog.ghost.org/how-one-blog-led-to-18m-of-funding-the-worlds-largest-online-qa-community/"><span class="number" aria-hidden="true">2</span>How One Blog Led to $18m of Funding &amp; The World's Largest Online Q&amp;A Community</a></li>
            <li><a href="http://blog.ghost.org/5-incredibly-simple-tutorials-for-building-your-own-ghost-theme/"><span class="number" aria-hidden="true">3</span>5 Very Simple Tutorials for Customising Your Ghost Blog</a></li>
            <li><a href="http://blog.ghost.org/a-year-to-the-day/"><span class="number" aria-hidden="true">4</span>A Year to The Day: The Story of How Ghost Began</a></li>
            <li><a href="http://blog.ghost.org/cloudflare/"><span class="number" aria-hidden="true">5</span>Making Ghost Blogs Faster &amp; More Secure: Hello CloudFlare</a></li>
        </ol>
    </section>

    <section class="twitter-box widget">
        <a class="twitter-box-profilepic" href="http://twitter.com/TryGhost"><img src="{{asset "images/twitterpic.png"}}" alt="Twitter profile picture" /></a>
        <img class="twitter-box-coverpic" src="{{asset "images/twitterbg.jpg"}}" alt="Twitter cover image" nopin="nopin" />
        <div class="twitter-box-content">
            <h4>Ghost</h4>
            <p>A non-profit, open source blogging platform. A movement to revolutionise the world of online publishing.</p>
            <a href="https://twitter.com/TryGhost" class="twitter-follow-button" data-show-count="true">Follow @TryGhost</a>
        </div>
    </section>

    <a class="ghost-love widget" href="https://ghost.org">
        <h3>Want a blog like this? <span class="highlight">Try Ghost</span></h3>
        <h4>The internet's most simple, most focused publishing platform</h4>
        <div class="ghost-love-button">Test it out in seconds</div>
    </a>

    <section class="facebook-box widget">
        <div class="fb-like-box" data-href="https://www.facebook.com/Ghost" data-width="290" data-height="300" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
    </section>

    <section class="gplus-box widget">
        <div class="g-page" data-href="//plus.google.com/u/0/114465948129362706086" data-theme="dark" data-layout="landscape" data-showtagline="false" data-rel="publisher"></div>
    </section>

</aside>