<aside class="blog-sidebar">

    <section class="blog-subscribe widget">
        <h3>Join Thousands</h3>
        <p>of subscribers who get fresh content from us once per week.</p>
        <a class="button-add large wide" data-toggle="modal" data-target="#blogsubscribe">Subscribe Now</a> 
    </section>

    <section class="twitter-box widget">
        <a class="twitter-box-profilepic" href="http://twitter.com/TryGhost"><img src="{{asset "images/twitterpic.png"}}" alt="Twitter profile picture" /></a>
        <img class="twitter-box-coverpic" src="{{asset "images/twitterbg.jpg"}}" alt="Twitter cover image" />
        <div class="twitter-box-content">
            <h4>Ghost</h4>
            <p>A non-profit, open source blogging platform. A movement to revolutionise the world of online publishing.</p>
            <a href="https://twitter.com/TryGhost" class="twitter-follow-button" data-show-count="true">Follow @TryGhost</a>
        </div>
    </section>
    <a class="blog-love widget" href="https://ghost.org/blogs/">
        <p>Check out our hosted platform, the fastest way to get a Ghost blog up and running.</p>
        <span class="price">From $5/month<span>
    </a>
    <section class="facebook-box widget">
        <div class="fb-like-box" data-href="https://www.facebook.com/Ghost" data-width="290" data-height="300" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
    </section>
    <section class="gplus-box widget">
        <div class="g-page" data-href="//plus.google.com/u/0/114465948129362706086" data-theme="dark" data-layout="landscape" data-showtagline="false" data-rel="publisher"></div>
    </section>
</aside>