<aside class="blog-sidebar">
    <section class="blog-subscribe widget">
        <p>Join our subscribers &amp; get the best of Ghost each week!</p>
        <form action="http://tryghost.createsend.com/t/t/s/tljkji/" method="post">
            <input id="fieldEmail" name="cm-tljkji-tljkji" type="email" placeholder="Email address" required />
            <button class="button-alt wide" type="submit">Subscribe</button>
        </form>
    </section>
    <section class="blog-community widget">
        <p>Check out the Ghost online community for more</p>
        <ul class="social-buttons">
            <li>
                <a href="https://twitter.com/TryGhost" class="twitter-follow-button" data-show-count="true">Follow @TryGhost</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </li>
            <li>
                <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
                <div class="g-follow" data-href="https://plus.google.com/114465948129362706086" data-height="20" data-rel="publisher"></div>
            </li>
            <li>
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=596756540369391";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-like" data-href="http://facebook.com/TryGhostApp" data-width="200" data-show-faces="true" data-send="false"></div>
            </li>
        </ul>
    </section>
    <a class="blog-love widget" href="https://ghost.org/blogs/">
        <p>Check out our hosted platform, the fastest way to get a Ghost blog up and running.</p>
        <span class="price">From $5/month<span>
    </a>
</aside>